{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block stylesheets %}
    {% do assets.addCss('theme://css/bootstrap/bootstrap.min.css', 105) %}
    {% do assets.addCss('theme://css-compiled/bootstrap-overrides.css', 104) %}
    {% do assets.addCss('theme://css-compiled/theme.css', 103) %}
    {% do assets.addCss('http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', 102) %}
    {% do assets.addCss('theme://css/lib/animate.css', 100) %}
    {% do assets.addCss('theme://css/custom.css', 50) %}
  {% endblock %}
  {{ assets.css() }}

  {% block others %}

  {% endblock %}


  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

{% endblock head %}
</head>
<body class="{{ page.header.body_classes }}">
  {% block header %}
  <div class="{{ page.header.body_classes == "pull_top" ? 'navbar navbar-inverse navbar-fixed-top' : 'navbar navbar-inverse navbar-static-top' }}" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="{{ base_url == '' ? '/' : base_url }}" class="navbar-brand">
                <img src="{{ url('theme://images/logo.png') }}" />
              </a>
          </div>
          {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
          {% endblock %}
      </div>
  </div>
  {% endblock %}

  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}
    {% include 'partials/footer.html.twig' %}
  {% endblock %}

{% block javascripts %}
  {% do assets.addJs('http://code.jquery.com/jquery-latest.js', 103) %}
  {% do assets.addJs('theme://js/bootstrap.min.js', 102) %}
  {% do assets.addJs('theme://js/theme.js', 101) %}
{% endblock %}
{{ assets.js() }}

{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}



</body>
</html>
